<mat-tab-group class="mat-tab-group" mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="PLANEJADAS">

    <div class="container-cards">
      <ng-container *ngFor="let live of nextLives" style="margin: 1rem">

        <mat-card class="mat-card">
          <mat-card-title class="mat-card-title">
            <div class="row">
              <p style="display: flex; justify-content: space-between;">
                <span style="font-size: 1.2rem;">{{live.liveName}}</span>
                <mat-chip class="mat-chip-next">
                  <span>{{live.liveDate}}</span>
                </mat-chip>
              </p>
              <p style="font-size: 0.8rem;">
                <strong>Canal: </strong> <span>{{live.channelName}}</span>
              </p>
            </div>
          </mat-card-title>

          <mat-card-content style="display: flex; justify-content: center; align-items: center;">
            <div>
              <iframe width="520" height="315" [src]="live.urlSafe" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </mat-tab>

  <mat-tab label="FINALIZADAS">

    <div class="container-cards">
      <ng-container *ngFor="let live of previousLives" style="margin: 1rem">

        <mat-card class="mat-card">
          <mat-card-title class="mat-card-title">
            <div class="row">
              <p style="display: flex; justify-content: space-between;">
                <span style="font-size: 1.2rem;">{{live.liveName}}</span>
                <mat-chip class="mat-chip-previous">
                  <span>{{live.liveDate}}</span>
                </mat-chip>
              </p>
            </div>
          </mat-card-title>

          <mat-card-content style="display: flex; justify-content: center; align-items: center;">
            <div>
              <iframe width="500" height="315" [src]="live.urlSafe" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>
