.mat-tab-group {
  margin: 2rem;
}

.mat-card {
  border: 1px solid #cfd8dc;
  border-radius: 5px;
  padding: 0px;
  padding: 15px;
  width: 35rem;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.mat-card-title {
  padding-left: 10px;
  padding-right: 10px;
  min-height: 70px;
}

.mat-chip-previous {
  background-color: #f99090 !important;
  color: black !important;
  font-size: 0.8rem;
}

.mat-chip-next {
  background-color: #90f999 !important;
  color: black !important;
  font-size: 0.8rem;
}
